* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --purple: #835AFD;
  --red: #EA4335;
  --gray-light: #A8A8B3;
  --gray-dark: #737380;
  --pink: #e76cf9;
  --white: #fff;
}

@media (max-width: 1080px) {
  html {
    font-size: 93.75%;
  }
}

@media (max-width: 720px) {
  html {
    font-size: 87.5%;
  }
}

body, input, button, textarea {
  font: 400 16px 'Poppins', sans-serif;
}

button {
  cursor: pointer;
}
